In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('./main_data.csv',sep=',')

In [15]:
df.describe()

,genres,movie_title,director_name,comb
count,83445,83445,83445,83445
unique,4214,83445,45027,74068
top,Drama,The Other Side of the Wind,unknown,Charlie Chaplin Comedy
freq,14727,1,102,29

In [16]:
df.head()

,genres,movie_title,director_name,comb
0,Drama,The Other Side of the Wind,Orson Welles,Orson Welles Drama
1,Comedy,A Thin Life,Jay Jalbert Kenny Bernardini,Jay Jalbert Kenny Bernardini Comedy
2,Drama,Reverse Heaven,Stuart Paul,Stuart Paul Drama
3,Action Drama,To Chase a Million,Pat Jackson,Pat Jackson Action Drama
4,Drama Family,Aamaar Bhuvan,Mrinal Sen,Mrinal Sen Drama Family